################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/AngularWebAPI/bin
/AngularWebAPI/obj
/AngularWebAPI/ClientApp/package-lock.json
