<app-centered-form-container>
  <h3 title>Update Profile</h3>
  <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="SaveProfile()">
    <div class="form-group" [ngClass]="{ 'error': (pf.fullName.touched && pf.fullName.invalid) }">
      <input class="form-control" formControlName="fullName" name="fullName" placeholder="Full name" minlength="4" maxlength="100" />
      <div class="error-message" *ngIf="pf.fullName.touched && pf.fullName.invalid">
        <span>Full name must be at</span>
        <span [hidden]="!pf.fullName.errors.minlength"> least 4 characters</span>
        <span [hidden]="!pf.fullName.errors.maxlength"> most 100 characters</span>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'error': (pf.age.touched && pf.age.invalid) }">
      <input class="form-control" formControlName="age" name="age" placeholder="Age" type="number" min="10" max="100" />
      <div class="error-message" *ngIf="pf.age.touched && pf.age.invalid">
        Age should be between 10 and 100
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'error': (pf.dob.touched && pf.dob.invalid) }">
      <input class="form-control" formControlName="dob" name="dob" placeholder="Date of birth (MM/DD/YYYY)" />
      <div class="error-message" *ngIf="pf.dob.touched && pf.dob.invalid">
        Date of birth should be MM/DD/YYYY
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'error': (pf.bio.touched && pf.bio.invalid) }">
      <textarea class="form-control" formControlName="bio" name="bio" rows="4" placeholder="About yourself" maxlength="1000"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="profileForm.invalid" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</app-centered-form-container>