/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f5f5f5;
}

div.main {
    margin-bottom: 200px;
}

.error input {
    background-color: #fee;
}

.error .error-message {
    color: red;
    font-size: 0.8em;
    padding: 4px 2px;
}