/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f5f5f5;
}

div.main {
    margin-bottom: 200px;
}

.error input,
.error textarea,
.error select
{
    background-color: #fee;
}

.error div.error-message {
    color: red;
    font-size: 0.8em;
    padding: 4px 2px;
}
.error span.error-message {
    color: red;
}

div.form-group {
    margin-bottom: 8px;
}

div.form-group > label {
    font-size: 0.8em;
    margin-bottom: 2px;
}